.container {
    max-width: 1240px;
    padding: 0 10px;
    margin: 0 auto;
}

.navigation {
    &__inner {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__sort {
        &-title {
            display: inline-block;
            margin-right: 30px;
        }
    }
    &__expansion-panel{
        display: none;
    }
    @media (max-width: 620px) {
        &__view-toggle, &__sort {
            display: none;
        }
        &__expansion-panel{
            margin: 0px 10px;
            display: block;
        }
        .mat-button-toggle-group{
            flex-wrap: wrap;
            width: 100%;
        }
        .mat-button-toggle{
            width: 100%;
        }
    }
}

.movie__container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    @media (max-width: 1240px) {
        max-width: 920px;
    }
    @media (max-width: 920px) {
        max-width: 620px;
    }
}

.table-view {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.5s;
}

.dialog-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.sort-toggle-text {
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
}
